.footer {
  height: 400px;
  padding-top: 172px;

  .container {
    display: flex;
    justify-content: space-around;

    [class^="footer-group-"] {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
      line-height: 20px;
    }

    .item {
      font-weight: 300;
    }

    .item-link {
      text-decoration: none;
      color: #000;
      font-weight: 400;
    }

    .social-media {
      display: flex;
      gap: 16px;

      a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #0d28a6;
      }
    }
  }

  .logo {
    width: 100px;
    height: 34px;
    background: #0d28a6;
  }
}
